#puntaje{
  font-size: 20em;
  font-family: 'Itim', cursive;
  /* animation: cambio-texto 2s; */
  /* animation-iteration-count: infinite; */
  color: rgba(255, 125, 0, 0.5);
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.8);

}

#game-board {
    width: 600px;
    height: 600px;
    border: 1px solid black;
    background-image: url("images/background.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    /* background-size: cover; Resize the background image to cover the entire container */
    background-size: 120%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .snake-unit {
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: #56955b;
    border: 1px solid #1e522f;
  }
  .food-unit {
    width: 10px;
    height: 10px;
    font-size:  10px;
    /* background-color: red;
    content: 🍎; */
    position: absolute;
    border-radius: 50%;
  }  
  .head{
    background-color: #1e522d;
    border: 1px solid black;

    /* border-top-right-radius: 50%;
    border-bottom-right-radius: 50%; */
  }
  .top-left{
    border-top-left-radius: 50%;
  }
  .top-right{
    border-top-right-radius: 50%;
  }
  .bottom-left{
    border-bottom-left-radius: 50%;
  }
  .bottom-right{
    border-bottom-right-radius: 50%;
  }

